{% extends "base.html" %}

{% block title %}{{chan.name}} ({{_('History')}}){% endblock %}

{% block breadcrumbs %}
<div class="breadcrumb-panel">
 <div class="container">
  <ul class="breadcrumb">
   <li><a href="{{url_for('TrnView:index')}}">{{_('Transmissions')}}</a></li>
   <li>{{chan.name}}</li>
  </ul>
 </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
 <h2>
  {{chan.name}}
  <a href="{{url_for('TrnView:add', channel=chan.id)}}" class="btn btn-success pull-right">{{_('Create')}}</a>
 </h2>

 <table class="table table-bordered table-hover">
  <thead>
   <tr>
    <th>{{_('Subject')}}</th>
    <th>{{_('State')}}</th>
   </tr>
  </thead>
  <tbody>
   {% for trn in trns %}
   <tr class="trn-{{trn.state}}">
    <td><a href="{{url_for('TrnView:edit', id=trn.id)}}"><i class="fa fa-bullhorn"></i> {{trn.subject}}</a></td>
    <td>
     {% if trn.state == 'draft' %}
     {{_('Draft')}}
     {% elif trn.state == 'sent' %}
     {{_('Sent')}}
     {% endif %}
    </td>
    </td>
   </tr>
   {% else %}
   <tr>
    <td colspan="2">
     <p class="text-muted text-center">{{_('No transmissions.')}}</p>
    </td>
   </tr>
   {% endfor %}
  </tbody>
 </table>
</div>
{% endblock %}

<!-- vim:set ts=1 sw=1 et: -->
