{% extends "base.html" %}

{% block title %}{{_('{} (Edit)').format(trn.subject)}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha256-yMjaV542P+q1RnH6XByCPDfUFhmOafWbeLPmqKh11zo=" crossorigin="anonymous" />
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumb-panel">
 <div class="container">
  <ul class="breadcrumb">
   <li><a href="/trn/">{{_('Transmissions')}}</a></li>
   <li><a href="/trn/chan/{{trn.channel}}">{{trn.Channel.name}}</a></li>
   <li>{{trn.subject}}</li>
  </ul>
 </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
 <h2>{{trn.subject}}</h2>
 <hr />

 <form action="/trn/update/{{trn.id}}" method="POST">
  <input type="hidden" name="token" value="{{make_token()}}"/>

  <div class="row">
   <div class="col col-md-6">
    <div class="form-group">
     <label for="subject">{{_('Subject')}}</label>
     <input type="text" class="form-control" id="subject" name="subject" value="{{trn.subject}}" autocomplete="off" required />
    </div>

    <div class="form-group">
     <label for="channel">{{_('Channel')}}</label>
     <select class="form-control" id="channel" name="channel">
      {% for chan in chans %}
      {% if trn.channel == chan.id %}
      <option value="{{chan.id}}" selected>{{chan.name}}</option>
      {% else %}
      <option value="{{chan.id}}">{{chan.name}}</option>
      {% endif %}
      {% endfor %}
     </select>
    </div>
   </div>

   <div class="col col-md-6">
    <div class="form-group">
     <label for="content">{{_('Content')}}</label>
     <textarea rows="12" class="form-control" id="content" name="content">{{trn.content}}</textarea>
    </div>
   </div>
  </div>

  <hr />
  <div class="form-group">
   <button type="submit" name="action" value="save" class="btn btn-primary">{{_('Save')}}</button>
   <button type="submit" name="action" value="send" class="btn btn-success">{{_('Send Now')}}</button>
   <button type="submit" name="action" value="test" class="btn btn-default pull-right">{{_('Send Trial')}}</button>
  </div>
 </form>
</div>
{% endblock %}

{% block tail %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js" integrity="sha256-U//RSeH3TR3773Rk+1lAufJnRjEaG5LcdbvGV72kHEM=" crossorigin="anonymous"></script>

<script>
$(function() {
 var content = $('#content');
 $('<div id="editor"></div>').insertBefore(content);

 var editor = ace.edit('editor');

 editor.session.setMode('ace/mode/markdown');
 editor.session.setUseWrapMode(true);
 editor.session.setValue(content.val());
 editor.setOption('minLines', 18);
 editor.setOption('maxLines', 32);

 content.hide();
 content.closest('form').submit(function() {
  content.val(editor.session.getValue());
 });
});
</script>
{% endblock %}

<!-- vim:set ts=1 sw=1 et: -->
