{% extends "base.html" %}

{% block title %}{{_('Transmissions')}}{% endblock %}

{% block content %}
<div class="container">
 <h2>
  {{_('Transmissions')}}
  <a href="{{url_for('TrnView:index')}}" class="btn btn-success pull-right">{{_('Create')}}</a>
 </h2>

 <table class="table table-bordered table-hover">
  <thead>
   <tr>
    <th>{{_('Subject')}}</th>
    <th>{{_('Channel')}}</th>
    <th>{{_('State')}}</th>
   </tr>
  </thead>
  <tbody>
   {% for trn in trns %}
   <tr class="trn-{{trn.state}}">
    <td><a href="{{url_for('TrnView:edit', id=trn.id)}}"><i class="fa fa-bullhorn"></i> {{trn.subject}}</a></td>
    <td><a href="{{url_for('TrnView:chan', id=trn.channel)}}"><i class="fa fa-feed"></i> {{trn.Channel.name}}</a></td>
    <td>
     {% if trn.state == 'draft' %}
     {{_('Draft')}}
     {% elif trn.state == 'sent' %}
     {{_('Sent')}}
     {% endif %}
    </td>
    </td>
   </tr>
   {% else %}
   <tr>
    <td colspan="3">
     <p class="text-muted text-center">{{_('No transmissions.')}}</p>
    </td>
   </tr>
   {% endfor %}
  </tbody>
  <tfoot>
   <tr>
    <td colspan="3" class="text-center">
     <a href="{{url_for('TrnView:all')}}">{{_('More')}}</a>
    </td>
   </tr>
  </tfoot>
 </table>

 <h3>{{_('Transmissions by Channel')}}</h3>

 <div class="lentils">
  {% for chan in chans: %}
  <div class="lentil">
   <a href="{{url_for('TrnView:chan', id=chan.id)}}"><i class="fa fa-feed"></i> {{chan.name}}</a>
  </div>
  {% else %}
  <p>{{_('No channels accessible. Sorry.')}}</p>
  {% endfor %}
 </div>
</div>
{% endblock %}

<!-- vim:set ts=1 sw=1 et: -->
