{% extends "base.html" %}

{% block title %}{{_('Transmissions')}}{% endblock %}

{% block content %}
<div class="container">
 <h2>
  {{_('Transmissions')}}
  <a href="/trn/add" class="btn btn-success pull-right">{{_('Create')}}</a>
 </h2>

 <table class="table table-bordered table-hover">
  <thead>
   <tr>
    <th>{{_('Subject')}}</th>
    <th>{{_('Author')}}</th>
    <th>{{_('Channel')}}</th>
    <th>{{_('State')}}</th>
   </tr>
  </thead>
  <tbody>
   {% for trn in trns %}
   <tr class="trn-{{trn.state}}">
    <td><a href="/trn/edit/{{trn.id}}"><i class="fa fa-bullhorn"></i> {{trn.subject}}</a></td>
    <td>{{trn.Author.display_name}}</td>
    <td><a href="/trn/chan/{{trn.channel}}/"><i class="fa fa-feed"></i> {{trn.Channel.name}}</a></td>
    <td>
     {% if trn.state == 'draft' %}
     {{_('Unfinished')}}
     {% elif trn.state == 'pending' %}
     {{_('Scheduled at ')}} / {{trn.start|datetimeformat}}
     {% elif trn.state == 'sent' %}
     {{_('Sent at ')}} {{trn.start|datetimeformat}}
     {% endif %}
    </td>
    </td>
   </tr>
   {% else %}
   <tr>
    <td colspan="4">
     <p class="text-muted text-center">{{_('No transmissions.')}}</p>
    </td>
   </tr>
   {% endfor %}
  </tbody>
  <tfoot>
   <tr>
    <td colspan="4" class="text-center">
     <a href="/trn/all/">{{_('More')}}</a>
    </td>
   </tr>
  </tfoot>
 </table>

 <h3>{{_('Transmissions by Channel')}}</h3>

 <div class="lentils">
  {% for chan in chans: %}
  <div class="lentil">
   <a href="/trn/chan/{{chan.id}}/"><i class="fa fa-feed"></i> {{chan.name}}</a>
  </div>
  {% endfor %}
 </div>
</div>
{% endblock %}

<!-- vim:set ts=1 sw=1 et: -->
