{% extends "base.html" %}

{% block title %}{{_('Subscriptions')}}{% endblock %}

{% block content %}
<div class="container">
 <h2>{{_('Subscriptions')}}</h2>
 <hr/>

 <form action="/sub/update" method="POST">
  <div class="row">
   <div class="col col-sm-6">
    <h3>{{_('Public (channels)')}}</h3>

    {% for sub in subs if sub.public %}
    <li class="checkbox">
     <label>
      {% if sub.opt_in or (sub.group and not sub.opt_out) %}
      <input type="checkbox" checked="checked"/>
      {% else %}
      <input type="checkbox"/>
      {% endif %}
      {{sub.channel}}
     </label>
    </li>
    {% else %}
    <p class="text-center text-muted">{{_('None available.')}}</p>
    {% endfor %}
   </div>

   <div class="col col-sm-6">
    <h3>{{_('Private')}}</h3>

    {% for sub in subs if not sub.public %}
    <li class="checkbox">
     <label>
      {% if not sub.opt_out %}
      <input type="checkbox" checked="checked"/>
      {% else %}
      <input type="checkbox"/>
      {% endif %}
      {{sub.channel}}
     </label>
    </li>
    {% else %}
    <p class="text-center text-muted">{{_('None available.')}}</p>
    {% endfor %}
   </div>
  </div>

  <hr/>
  <button type="submit" class="btn btn-primary">{{_('Save')}}</button>
 </form>
</div>
{% endblock %}

<!-- vim:set ts=1 sw=1 et: -->
