.navbar-utility {
	float: right;
}

.main-header {
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.form-footer {
	margin-top: 10px;
	padding-top: 15px;
	border-top: 1px solid #ddd;
}

form {
	margin: 0px;
	padding: 0px;
}

th.narrow {
	width: 0px;
}
